.button {
  display: flex;
  justify-content: center;
  padding: 0.8em;
  margin: 1em;
  height: auto;
  width: 15em;
  background: $teritiary-color;
  color: $secondary-color;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  @include easeOut;
  outline: 1px solid transparent;
  outline-offset: -0.3em;

  @include mediaLg {
    font-size: 1.7rem;
    width: 15em;
  }

  @include mediaMd {
    font-size: 1.5rem;
    width: 14em;
  }

  @include mediaSm {
    font-size: 1.1rem;
    width: 14em;
  }

  @include mediaXs {
    font-size: 1.5rem;
    width: 14em;
  }

  &:hover,
  &:focus {
    // border-color: $secondary-color;
    outline: 1px solid $secondary-color;
    outline-offset: -0.3em;
  }
}
