.greeting {
  background: black;


    .v-parallax__image {
      width: 100vw !important;
    }
  // .v-parallax {
  //   @include mediaXXl {
  //     height: 160vh !important;
  //   }

  //   @include mediaXl {
  //     height: 120vh !important;
  //   }

  //   @include mediaLg {
  //     height: 920px !important;
  //   }

  //   @include mediaMd {
  //     height: 820px !important;
  //   }

  //   @include mediaSm {
  //     height: 600px !important;
  //   }

  //   @include mediaXs {
  //     height: 420px !important;
  //   }
  // }
  // .v-parallax__image-container {
  //   opacity: 0.5;
  //   width: 100%;

  //   // @include mediaSm {
  //   //   opacity: 0;
  //   // }

  //   // @include mediaXs {
  //   //   opacity: 0;
  //   // }

  //   .v-parallax__image {
  //     background-size: cover;
  //     @include mediaXXl {
  //       width: 100vw !important;
  //       left: 0;
  //       top: 0;
  //       transform: none !important;
  //     }

  //     @include mediaXl {
  //       width: 100%;
  //       left: 0;
  //       transform: none !important;
  //     }

  //     @include mediaLg {
  //       width: 100%;
  //       left: 0;
  //       transform: none !important;
  //     }

  //     @include mediaMd {
  //       width: 100%;
  //       left: 0;
  //       transform: none !important;
  //     }

  //     @include mediaSm {
  //       width: 100%;
  //       left: 0;
  //       transform: none !important;
  //     }

  //     @include mediaXs {
  //       width: 100%;
  //       left: 0;
  //       transform: none !important;
  //     }
  //   }
  // }
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;

  h1,
  h3,
  h5 {
    // font-family: "Playfair Display", serif;
    font-weight: 300;
    line-height: 1.2;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;

    span {
      font-size: 1.5rem;
      @include mediaXs {
        max-width: 300px;
        text-align: center;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    @include mediaXs {
      max-width: 300px;
      text-align: center;
    }
  }

  h5 {
    font-size: 1.2rem;
  }

  :first-child {
    margin-bottom: auto;
  }
  :last-child {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h5 {
      margin-bottom: 1rem;
    }
  }
}
