.menu-btn {
  z-index: 1000 !important;
}

// Menu Overlay
.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 18vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;

  @include mediaXl {
    width: 22vw;
  }

  @include mediaLg {
    width: 27vw;
  }

  @include mediaMd {
    width: 32vw;
  }

  @include mediaSm {
    width: 50vw;
  }

  @include mediaXs {
    width: 100vw;
  }

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-flow: column;
    align-items: center;

    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // opacity: 0.5;
    margin: 0;
    padding: 30vh 0;
    background: rgba($primary-color, 0.3);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    @include mediaSm {
      background: rgba($primary-color, 0.8);
    }

    @include mediaXs {
      background: rgba($primary-color, 0.95);
    }

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(900px, 0, 0);
    @include easeOut;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
      //Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.7rem 0 0 0;
    font-weight: 300;
    color: $secondary-color;
    text-decoration: none;
    text-align: center;

    @include easeOut;
    border-bottom: 1px solid transparent;

    @include mediaXl {
      font-size: 1.6rem;
    }

    @include mediaLg {
      font-size: 1.8rem;
    }

    @include mediaMd {
      font-size: 1.9rem;
    }
    @include mediaSm {
      font-size: 2rem;
    }

    &:hover {
      border-bottom: 1px solid $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.15s
@for $x from 1 through 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.15s;
  }
}
