$primary-color: rgba(25, 25, 25, 1);
$secondary-color: rgba(250, 250, 250, 1);
@mixin easeOut {
  transition: all 0.7s ease-out;
}

@import "media-queries";

*,
.v-application {
  margin: 0;
  padding: 0;
  // font-family: "Playfair Display", serif;
  // font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.12rem;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @include mediaXXl {
    font-size: 20px;
  }

  @include mediaXl {
    font-size: 18px;
  }

  @include mediaLg {
    font-size: 16px;
  }

  @include mediaMd {
    font-size: 14px;
  }

  @include mediaSm {
    font-size: 14px;
  }

  @include mediaXs {
    font-size: 14px;
  }
}

:focus {
  outline: none !important;
}

body,
.background {
  width: 100%;
  height: 100%;
  //min-height: 200vh;
  color: $primary-color;
  background: $secondary-color;
}

.greeting,
.showcase,
.tab,
.tabs,
.gallery,
.image,
.about,
.contact {
  width: auto;
  height: auto;
}

// @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "greeting";
@import "gallery";
@import "about_&_contact";
@import "menu";
@import "cms";

@import "media-queries";
