*,
.v-application {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.12rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media screen and (min-width: 1401px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

:focus {
  outline: none !important;
}

body,
.background {
  width: 100%;
  height: 100%;
  min-height: 200vh;
  color: #191919;
  background: #fafafa;
}

.greeting,
.showcase,
.tab,
.tabs,
.gallery,
.image,
.about,
.contact {
  width: auto;
  height: auto;
}

.greeting {
  background: black;
}

@media screen and (min-width: 1401px) {
  .greeting .v-parallax {
    height: 945px !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .greeting .v-parallax {
    height: 750px !important;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .greeting .v-parallax {
    height: 920px !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .greeting .v-parallax {
    height: 820px !important;
  }
}

@media screen and (max-width: 820px) {
  .greeting .v-parallax {
    height: 600px !important;
  }
}

@media screen and (max-width: 600px) {
  .greeting .v-parallax {
    height: 420px !important;
  }
}

.greeting .v-parallax__image-container {
  opacity: 0.5;
  width: 100%;
}

@media screen and (min-width: 1401px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
    left: 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
    left: 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media screen and (max-width: 820px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
    left: 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media screen and (max-width: 600px) {
  .greeting .v-parallax__image-container .v-parallax__image {
    width: 100%;
    left: 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 2rem;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hello h1,
.hello h3,
.hello h5 {
  font-weight: 300;
  line-height: 1.2;
}

.hello h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hello h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .hello h3 {
    max-width: 300px;
    text-align: center;
  }
}

.hello h5 {
  font-size: 1.2rem;
}

.hello :first-child {
  margin-bottom: auto;
}

.hello :last-child {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello :last-child h5 {
  margin-bottom: 1rem;
}

.tab {
  font-size: 1rem;
}

.v-card__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  padding: 2vw 0;
  display: none;
}

.gallery {
  padding: 3vw 2vw;
}

@media screen and (min-width: 1401px) {
  .gallery {
    font-size: 20px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .gallery {
    font-size: 18px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .gallery {
    font-size: 16px;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .gallery {
    font-size: 14px;
  }
}

@media screen and (max-width: 820px) {
  .gallery {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    font-size: 14px;
  }
}

.image-card {
  width: 33.33%;
  height: auto;
}

.image-card .image:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

@media screen and (min-width: 1401px) {
  .image-card {
    width: 33.33%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .image-card {
    width: 33.33%;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .image-card {
    width: 33.33%;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .image-card {
    width: 75%;
  }
}

@media screen and (max-width: 820px) {
  .image-card {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .image-card {
    width: 80%;
  }
}

.about,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 2vw;
}

.about .text-content,
.contact .text-content {
  padding: 0.5em 2vw;
}

.about .text-content .header,
.contact .text-content .header {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.about .text-content span,
.contact .text-content span {
  font-size: 1.1rem;
}

.about .text-content .p,
.contact .text-content .p {
  font-size: 1.1rem;
  max-width: 1200px;
}

.about img,
.contact img {
  width: 150px;
  height: 200px;
  margin: 1em 2vw 1em auto;
  border-radius: 3px;
  -webkit-box-shadow: 2px 3px 2px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 3px 2px -2px rgba(0, 0, 0, 0.4);
  display: none;
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .about img,
  .contact img {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .about img,
  .contact img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .about img,
  .contact img {
    display: none;
  }
}

.menu-btn {
  z-index: 101 !important;
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 18vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .menu {
    width: 22vw;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .menu {
    width: 27vw;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .menu {
    width: 32vw;
  }
}

@media screen and (max-width: 820px) {
  .menu {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100vw;
  }
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 30vh 0;
  background: rgba(25, 25, 25, 0.3);
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

@media screen and (max-width: 820px) {
  .menu-nav {
    background: rgba(25, 25, 25, 0.8);
  }
}

@media screen and (max-width: 600px) {
  .menu-nav {
    background: rgba(25, 25, 25, 0.95);
  }
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(900px, 0, 0);
          transform: translate3d(900px, 0, 0);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.7rem 0 0 0;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  border-bottom: 1px solid transparent;
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .menu .nav-link {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .menu .nav-link {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .menu .nav-link {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 820px) {
  .menu .nav-link {
    font-size: 2rem;
  }
}

.menu .nav-link:hover {
  border-bottom: 1px solid #fafafa;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.cms {
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=main.css.map */